.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
Rplots.pdf

renv
activate.R

results/



**/__pycache__

*.rds
*png
*jpeg
*db
*.DS_Store
*.npy

# Ignore cmdstanr executables
code/rl/alone/stan/*
!code/rl/alone/stan/*.stan
code/rl/nocatches/stan/*
!code/rl/nocatches/stan/*.stan
code/rl/catches/stan/*
!code/rl/catches/stan/*.stan